@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Properties
@using Utility
@using Newtonsoft.Json
@{

    ModelSource<LiveDevice> models;
    models = ((SampleController<LiveDevice>)ViewContext.Controller).DataSource;
    QueryViewModel _viewModel = ViewBag.ViewModel as QueryViewModel;
    
}

<!--交易畫面標題-->
@{ 
    Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "社區地址維護");
    }

<div class="border_gray">
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th colspan="1" class="Head_style_a">
                社區地址
            </th>
        </tr>
        <tr>
            <td class="tdleft">
                <div>
                    <div class="col-md-2">
                        <label class="label-info">地址</label>
                    </div>
                    <div class="input-group">
                        <input type="text" name="City" size="6" value="@(AppSettings.Default.Location.City)" />(市／縣)
                        <input type="text" name="District" size="6" value="@(AppSettings.Default.Location.District)" />(區／市／鎮／鄉)<br />
                        <input type="text" name="Road" size="6" value="@(AppSettings.Default.Location.Road)" />(路／街)
                        <input type="text" name="Section" size="6" value="@(AppSettings.Default.Location.Section)" />段
                        <input type="text" name="Lane" size="6" value="@(AppSettings.Default.Location.Lane)" />巷
                        <input type="text" name="Alley" size="6" value="@(AppSettings.Default.Location.Alley)" />弄
                        <input type="text" name="No" size="6" value="@(AppSettings.Default.Location.No)" />號
                    </div>
                </div>
                <div>
                    <div class="col-md-2">
                        <label class="label-info">備註</label>
                    </div>
                    <div class="input-group">
                        <textarea name="Memo" rows="1" cols="64"></textarea>
                    </div>
                </div>
                <div>
                    <div class="col-md-2">
                        <label class="label-info">本社區最高樓層</label>
                    </div>
                    <div class="input-group">
                        <input type="text" name="Floor" size="6" value="@(AppSettings.Default.Location.FloorCount)" />樓
                    </div>
                </div>
                <div>
                    <div class="col-md-2">
                        <label class="label-info">最大之號</label>
                    </div>
                    <div class="input-group">
                        之<input type="text" name="UnitNo" size="6" value="@(AppSettings.Default.Location.UnitCount)" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tdleft">
                <div>
                    <div class="col-md-2">
                        <label class="label-info">座標</label>
                    </div>
                    <div class="input-group">
                        緯度<input type="text" name="Latitude" size="10" value="@(AppSettings.Default.Location.Latitude)" /><br />
                        經度<input type="text" name="Longitude" size="10" value="@(AppSettings.Default.Location.Longitude)" />
                    </div>
                </div>
            </td>
        </tr>

    </table>
    <!--表格 結束-->
</div>
<!--按鈕-->
<table border="0" cellspacing="0" cellpadding="0" width="100%" class="queryAction">
    <tbody>
        <tr>
            <td class="Bargain_btn">
                <button type="button" onclick="uiDeviceQuery.commitBuildingLocation();">確定</button>
            </td>
        </tr>
    </tbody>
</table>
<!--表格 開始-->
@{ Html.RenderPartial("~/Views/DeviceEvents/ScriptHelper/Common.cshtml");}

<script>
    var uiDeviceQuery = {};
    uiDeviceQuery.viewModel = @Html.Raw(JsonConvert.SerializeObject(_viewModel));
</script>


