@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using Utility
@using Newtonsoft.Json
@functions
{

}
@{
    ModelSource<LiveDevice> models;
    UserGuideQueryViewModel _viewModel;

    models = ((SampleController<LiveDevice>)ViewContext.Controller).DataSource;
    _viewModel = (UserGuideQueryViewModel)ViewBag.ViewModel;
    String resource = _viewModel.ResourceName ?? "UserGuide";
    String userGuidePath = Server.MapPath($"~/{resource}");
    //Response.Redirect("~/UserGuide");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form id="theForm" action="@Html.Raw(Url.Action("UserGuide","InfoCenter"))" method="post">
        <input type="hidden" name="UserGuide" id="UserGuide" />
        <input type="hidden" name="ResourceName" value="@(resource)" />
    </form>
    <script>
        function submitTo(userGuide) {
            var guide = document.getElementById('UserGuide');
            guide.value = userGuide;
            document.getElementById('theForm').submit();
        }
    </script>
    <table border="0" cellspacing="0" cellpadding="0" width="100%" class="queryAction">
        <tbody>
            <tr>
                <td style="width:80px;">@Html.Raw(resource == "UserGuide" ? "手冊名稱" : "社區公告") </td>
                <td class="Bargain_btn">
                    @foreach (var item in Directory.GetDirectories(userGuidePath))
                    {
                        <input type="button" value="@(Path.GetFileName(item))" class="btn" onclick="submitTo(this.value);" style="height: 36px; font-size: large;" />
                        <text>&nbsp;</text>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    @if (_viewModel.UserGuide != null)
    {
        var items = Directory.EnumerateFiles(Server.MapPath($"~/{resource}/{_viewModel.UserGuide}"));
        int totalCount = items.Count();
        <div>
            <iframe id="contentPage" src='@Html.Raw(Url.Action("UserGuidePage", "InfoCenter", new { _viewModel.UserGuide,ResourceName = resource, _viewModel.CurrentIndex }))' style="width:100%; height:520px; "></iframe>
        </div>
        if (totalCount > 1)
        {
            <div>

                <div>
                    <button type="button" onclick="turnPage(-1);" class="btn" style="height: 36px; width: 64px;">上頁</button>
                    <button type="button" onclick="turnPage(1);" class="btn" style="height: 36px; width: 64px;">下頁</button>
                    <span id="currentIndex">@((_viewModel.CurrentIndex ?? 0)+1)</span> / @(totalCount)
                </div>
                <script>

                    var currentIndex = @(_viewModel.CurrentIndex ?? 0);
                    var totalCount = @(totalCount);

                    function turnPage(move) {
                        currentIndex += move;
                        if (currentIndex < 0) {
                            currentIndex = 0;
                        } else if (currentIndex >= totalCount) {
                            currentIndex = totalCount - 1;
                        }
                        document.getElementById('currentIndex').innerText = currentIndex + 1;
                        var frame = document.getElementById('contentPage');
                        frame.src = '@Html.Raw(Url.Action("UserGuidePage", "InfoCenter", new { _viewModel.UserGuide,ResourceName = resource }))' + '&CurrentIndex=' + currentIndex;
                    }
                </script>
            </div>
        }
    }
</body>
</html>
