@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using Utility
@using Newtonsoft.Json

@{
    InfoQueryViewModel _viewModel = ViewBag.ViewModel as InfoQueryViewModel;
}

<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column" id="side-menu">
            <li class="nav-item">
                <a class="nav-link" href="javascript:$('').launchDownload('@Html.Raw(Url.Action("ResidentDeviceIndex","DeviceEvents"))', $global.viewModel);"><i class="fas fa-hand-point-right"></i>住戶警報記錄</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:$('').launchDownload('@Html.Raw(Url.Action("ResidentIndex","InfoCenter"))', $global.viewModel);"><i class="fas fa-hand-point-right"></i>住戶訊息查詢</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:$('').launchDownload('@Html.Raw(Url.Action("ResidentEnergyIndex","InfoCenter"))', $global.viewModel);"><i class="fas fa-hand-point-right"></i>瓦斯度數維護</a>
            </li>
            @{
                Html.RenderPartial("~/Views/SiteAction/TaiwanTaxiMenu.cshtml");
            }
            @{
                Html.RenderPartial("~/Views/SiteAction/YoxiMenu.cshtml");
            }
            <li class="nav-item">
                <a class="nav-link" href="javascript:$('').launchDownload('@Html.Raw(Url.Action("AccessCard", "DeviceEvents"))', $global.viewModel);"><i class="fas fa-hand-point-right"></i>設定門禁卡</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:$('').launchDownload('@Html.Raw(Url.Action("PowerMeterIndex","InfoCenter"))', $global.viewModel);"><i class="fas fa-hand-point-right"></i>電錶資訊查詢</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>


