
@using System.IO
@using System.Linq.Expressions


<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column" id="side-menu">
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("ApplyCenterBuildingInfo","Outbound"))"><i class="fas fa-hand-point-right"></i>檢視樓層資訊</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("Index","DeviceEvents"))"><i class="fas fa-hand-point-right"></i>設備端狀態查詢</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="$.post('@(Url.Action("SynchronizeDevices","Outbound"))',{},function(data){ $(data).appendTo($('body')); });"><i class="fas fa-hand-point-right"></i>登錄設備</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("ApplyDevicesInfo","Outbound"))"><i class="fas fa-hand-point-right"></i>檢視BA登錄設備</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("ResidentInfo","Outbound"))"><i class="fas fa-hand-point-right"></i>檢視BA住戶資訊</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("Index","InfoCenter"))"><i class="fas fa-hand-point-right"></i>住戶訊息查詢</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("UserIndex","Account"))"><i class="fas fa-hand-point-right"></i>住戶管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:$('').launchDownload('@Html.Raw(Url.Action("EnergyIndex","InfoCenter"))', $global.viewModel);"><i class="fas fa-hand-point-right"></i>瓦斯度數維護</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("BuildingLocationIndex","InfoCenter"))"><i class="fas fa-hand-point-right"></i>社區地址維護(台灣大車隊)</a>
            </li>
            @{
                Html.RenderPartial("~/Views/SiteAction/TaiwanTaxiQueryMenu.cshtml");
            }
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("BuildingYoxiIndex","InfoCenter"))"><i class="fas fa-hand-point-right"></i>社區地址維護(Yoxi)</a>
            </li>
            @{
                Html.RenderPartial("~/Views/SiteAction/YoxiQueryMenu.cshtml");
            }
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="$.post('@(Url.Action("UrgentCall","InfoCenter",new { reset = true }))', {}, function (data) { if ($.isPlainObject(data)) { alert('警報已解除!!'); } else { $(data).appendTo($('body')); } });"><i class="fas fa-hand-point-right"></i>解除社區公共警報</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("InitStorageBox","DeviceEvents"))"><i class="fas fa-hand-point-right"></i>智慧郵箱</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("InitElevatorBox","DeviceEvents"))"><i class="fas fa-hand-point-right"></i>智慧梯控</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:$('').launchDownload('@Html.Raw(Url.Action("PowerMeterIndex","InfoCenter",new {residentOnly = false}))', $global.viewModel);"><i class="fas fa-hand-point-right"></i>電錶資訊查詢</a>
            </li>
        </ul>
    </div>
</div>

