
@{
    ViewBag.Title = "UserIndex";
    Layout = "~/Views/Shared/MvcMainPage.cshtml";
}

<div class="border_gray">
    <!--表格 開始-->
    <table id="queryArea" class="left_title" border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
            <tr>
                <th class="Head_style_a" colspan="2">
                    查詢條件
                </th>
            </tr>
            <tr>
                <th>
                    住戶ID
                </th>
                <td class="tdleft">
                    <input name="PID" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th>
                    住戶姓名
                </th>
                <td class="tdleft">
                    <input name="UserName" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th>
                    感應卡號
                </th>
                <td class="tdleft">
                    <input name="CardID" type="text" class="form-control" />
                </td>
            </tr>
        </tbody>
    </table>
    <!--表格 結束-->
</div>
<table border="0" cellspacing="0" cellpadding="0" width="100%" class="queryAction">
    <tbody>
        <tr>
            <td class="Bargain_btn">
                <button type="button" onclick="uiUserAccount.inquire();">查詢</button>
            </td>
        </tr>
    </tbody>
</table>
<script>

    var uiUserAccount = {};
    $(function () {

        uiUserAccount.inquire = function (pageNum, onPaging) {
            var $formData = $('#queryArea').find('input,select,textArea').serializeObject();
            $formData.PageIndex = pageNum;

            showLoading();
            $.post('@(Url.Action("Inquire", "Account"))', $formData, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    alert(data.message);
                } else {
                    if (data) {
                        if (onPaging) {
                            onPaging(data);
                        } else {
                            if (uiUserAccount.$result)
                                uiUserAccount.$result.remove();
                            uiUserAccount.$result = $(data);
                            $('.queryAction').after(uiUserAccount.$result);
                        }
                    }
                }
            });
        };

        uiUserAccount.inquireEventLog = function (value) {
            $.post('@Url.Action("EventLogList","DeviceEvents")', { 'LiveID': value }, function (data) {
                $global.createTab('listEvents' + (Math.random() * 100000).toFixed(0).toString(), '傳送訊息', data, true);
            });
        };

        uiUserAccount.sendEvent = function (value) {
            $.post('@Url.Action("SendEvent","DeviceEvents")', { 'logID': value }, function (data) {
                $(data).appendTo($('body'));
            });
        };

        uiUserAccount.updateAlarmSetting = function (event) {
            var event = event || window.event;
            var $target = $(event.target);

            showLoading();
            $.post('@(Url.Action("CommitAlarmSetting", "Account"))', { 'UID': $target.val(), 'EnableAlarm': $target.is(':checked') }, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                } else {
                    $(data).appendTo($('body'));
                }
            });

        };

        uiUserAccount.listCardID = function (value) {
            var event = event || window.event;
            showLoading();
            $.post('@(Url.Action("ListCardID", "Account"))', { 'UID': value }, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                } else {
                    $(data).appendTo($('body'));
                }
            });
        };

        uiUserAccount.applyCard = function (value) {
            var event = event || window.event;
            var $tr = $(event.target).closest('tr');
            var cardID = $tr.find('input[name="CardID"]').val();
            showLoading();
            $.post('@(Url.Action("ApplyCardID", "Account"))', { 'UID': value, 'CardID': cardID }, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                } else {
                    var $data = $(data);
                    if ($data.is('tr')) {
                        $tr.before($data);
                    } else {
                        $data.appendTo($('body'));
                    }
                }
            });
        };

        uiUserAccount.deleteCard = function (viewModel) {
            var event = event || window.event;
            if (confirm('確定刪除?')) {
                $.post('@Url.Action("DeleteCardID","Account")', viewModel, function (data) {
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            $(event.target).closest('tr').remove();
                        }
                    } else {
                        $(data).appendTo($('body'));
                    }
                });
            }
        };

        uiUserAccount.deleteItem = function (value) {
            var event = event || window.event;
            if (confirm('確定刪除?')) {
                $.post('@Url.Action("DeleteDevice","DeviceEvents")', { 'liveID': value }, function (data) {
                    $(data).appendTo($('body'));
                    if (data.indexOf('已刪除') > 0) {
                        $(event.target).closest('tr').remove();
                    }
                });
            }
        };

        uiUserAccount.deleteUri = function (value) {
            var event = event || window.event;
            if (confirm('確定刪除?')) {
                $.post('<%= Url.Action("DeleteDevicesByUri","DeviceEvents") %>', { 'uri': $('textarea[name="DeviceUri"]').val() }, function (data) {
                    $(data).appendTo($('body'));
                });
            }
        };

        uiUserAccount.deleteAll = function (value) {
            var event = event || window.event;
            if (confirm('確定刪除?')) {
                var values = $('input[name="liveID"]:checked').serialize();
                if (values) {
                    $.post('<%= Url.Action("DeleteDevices","DeviceEvents") %>', values, function (data) {
                        $(data).appendTo($('body'));
                    });
                } else {
                    alert('請選擇刪除項目!!')
                }
            }
        };

        uiUserAccount.inquireResidentMessage = function () {

            $('form.queryForm').ajaxForm({
                url: "@Html.Raw(Url.Action("InquireResidentMessage","InfoCenter",new { resultAction = ViewBag.ResultAction }))",
                beforeSubmit: function () {
                    showLoading();
                },
                success: function (data) {
                    hideLoading();
                    if (data) {
                        if (uiUserAccount.$result)
                            uiUserAccount.$result.remove();
                        uiUserAccount.$result = $(data);
                        $('.queryAction').after(uiUserAccount.$result);
                    }
                },
                error: function () {
                    hideLoading();
                }
            }).submit();
        };

        uiUserAccount.reportEnergyDegree = function (actionType) {

            $('form.queryForm').ajaxForm({
                url: "@Html.Raw(Url.Action("ReportEnergyDegree","InfoCenter",new { resultAction = ViewBag.ResultAction }))" + '?actionType=' + actionType,
                beforeSubmit: function () {
                    showLoading();
                },
                success: function (data) {
                    hideLoading();
                    if (data) {
                        $(data).appendTo($('body'));
                    }
                },
                error: function () {
                    hideLoading();
                }
            }).submit();
        };

        uiUserAccount.inquireEnergyDegree = function () {

            $('form.queryForm').ajaxForm({
                url: "@Html.Raw(Url.Action("InquireEnergyDegree","InfoCenter",new { resultAction = ViewBag.ResultAction }))" + '?actionType=3',
                beforeSubmit: function () {
                    showLoading();
                },
                success: function (data) {
                    hideLoading();
                    if (data) {
                        if (uiUserAccount.$result)
                            uiUserAccount.$result.remove();
                        uiUserAccount.$result = $(data);
                        $('.queryAction').after(uiUserAccount.$result);
                    }
                },
                error: function () {
                    hideLoading();
                }
            }).submit();
        };

    });



</script>