@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.DataPort
@using WebHome.Properties
@using Utility
@using Newtonsoft.Json
@{

    ModelSource<LiveDevice> models;
    ElevatorBoxViewModel _viewModel;

    models = ((SampleController<LiveDevice>)ViewContext.Controller).DataSource;
    _viewModel = (ElevatorBoxViewModel)ViewBag.ViewModel;
    int boxIdx = 0;
    int elevatorGroupCount = (AppSettings.Default.BuildingFloors.Value + 15) / 16;
}

<div class="border_gray" id="step2">
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title queryArea">
        @foreach (var item in AppSettings.Default.ElevatorBoxArray)
        {
            StorageBoxAgent agent = new StorageBoxAgent(item);
            var box = agent.GetBoxPortList();
            var groupIdx = boxIdx % elevatorGroupCount;
            <tr>
                <th>
                    電梯控制盒IP：
                </th>
                <td class="tdleft">
                    @(item?.StorageBoxUrl)
                </td>
                <th>
                    電梯門號(@(item?.No))
                </th>
                <td class="tdleft">
                    @(box!=null ? "" : "設備未設定")
                </td>
            </tr>
            <tr>
                <th>
                    樓層
                </th>
                <td class="tdleft" colspan="3">
                    @if (box != null)
                    {
                        for (int idx = 0; idx < box.ports.Length; idx++)
                        {
                            var floor = idx + groupIdx * 16;
                            if (floor < AppSettings.Default.BuildingFloors)
                            {
                                bool disabled = agent.ViewModel.Disabled.Contains(idx);
                                <input type="checkbox" name="KeyItems" value='@Html.Raw((new { BoxDeviceIndex = boxIdx, Port = idx }).JsonStringify())' checked="@(disabled)" />@(floor+1)<text>&nbsp;</text>
                            }
                        }
                    }
                </td>
            </tr>
            boxIdx++;
        }
        <tr>
            <td colspan="4">
                <button type="button" class="btn btn-primary" onclick="setElevatorStatus();">設定樓層管制</button>
            </td>
        </tr>
    </table>
    <!--表格 結束-->
</div>
