

@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.DataPort
@using Utility
@using Newtonsoft.Json
@{

    ModelSource<LiveDevice> models;
    TaxiOrderViewModel _viewModel;

    models = ((SampleController<LiveDevice>)ViewContext.Controller).DataSource;
    _viewModel = (TaxiOrderViewModel)ViewBag.ViewModel;
    TaiwanTaxiAgent.DispatchQueryResponse _model = this.Model as TaiwanTaxiAgent.DispatchQueryResponse;

}

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        @*<td valign="top">
                <img src="~/images/TaxiOrder_03.png" style="width:180px;" />
            </td>*@
        <td>
            @for (int i = 0; i < _model.Vehicles.Length; i++)
            {
                var vehicle = _model.Vehicles[i];
                <div>
                    <label class="label-info">派車資訊</label>
                    <label class="label-info">@(i+1)、@(vehicle.TraState)</label>
                    @if (ViewBag.EnableDispatchCancel != false)
                    {
                        <button type="button" class="btn btn-primary" onclick="javascript: dispatchCancel('@(vehicle.JobId)');">取消叫車</button>
                    }
                </div>
                <div>
                    <div class="col-md-2">
                        <label class="label-info">乘客</label>
                    </div>
                    <div class="col-md-3 input-group">
                        @(_viewModel.CustName) @(_viewModel.CustTitle)
                    </div>
                </div>
                <hr />
                <div>
                    <div class="col-md-2">
                        <label class="label-info">電話</label>
                    </div>
                    <div class="col-md-3 input-group">
                        @(_viewModel.CustPhone)
                    </div>
                </div>
                <hr />
                <div>
                    <div class="col-md-2">
                        <label class="label-info">日期/時間</label>
                    </div>
                    <div class="col-md-3 input-group">
                        @($"{vehicle.BookTime:yyyy/MM/dd HH:mm}")
                    </div>
                </div>
                <hr />
                <div>
                    <div class="col-md-2">
                        <label class="label-info">地址</label>
                    </div>
                    <div class="input-group">
                        @(vehicle.Address?.City)
                        @(vehicle.Address?.Distrcit)
                        @(vehicle.Address?.Road)
                        @(vehicle.Address?.Section)
                        @(vehicle.Address?.Lane.GetEfficientString("巷"))
                        @(vehicle.Address?.Alley.GetEfficientString("弄"))
                        @(vehicle.Address?.No)
                        @if (_viewModel.Floor.HasValue)
                        {
                            <text>@(_viewModel.Floor)樓</text>
                        }
                        @if (_viewModel.UnitNo.HasValue)
                        {
                            <text>之@(_viewModel.UnitNo)</text>
                        }
                    </div>
                </div>
                <hr />
                <div>
                    <div class="col-md-2">
                        <label class="label-info">其它</label>
                    </div>
                    <div class="col-md-10 input-group">
                        <div class="col-md-4">
                            付款方式：
                            @(vehicle.PaymentStatus?.PayType)
                        </div>
                        <div class="col-md-4">
                            備註：@(vehicle.Memo)
                        </div>
                    </div>
                </div>
                <hr />
                if (vehicle.DriverInfo != null)
                {
                    var driver = vehicle.DriverInfo;
                    <div>
                        <div class="col-md-2">
                            <label class="label-info">駕駛員資訊</label>
                        </div>
                        <div class="col-md-10 input-group">
                            <div>
                                車號：@(driver.CarNo) &nbsp;&nbsp;
                                姓名：@(driver.Name) &nbsp;&nbsp;
                                證照號碼：@(driver.CarLicNum)
                            </div>
                            <div>
                                電話：@(driver.HomePhone) &nbsp;&nbsp;
                                手機1：@(driver.CellPhone1)&nbsp;&nbsp;
                                手機2：@(driver.CellPhone2)&nbsp;&nbsp;
                            </div>
                            @if (driver.PortraitData != null)
                            {
                                <div>
                                    <img src="@Html.Raw(driver.PortraitData)" style="width:100px;" />
                                </div>
                            }
                        </div>
                    </div>
                    <hr />
                }
            }
            @*<div class="row text-center">
            <button class="btn btn-primary" type="button">送出</button>
        </div>*@
        </td>
    </tr>
</table>

