

@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.DataPort
@using Utility
@using Newtonsoft.Json
@{

    ModelSource<LiveDevice> models;
    InfoQueryViewModel _viewModel;

    models = ((SampleController<LiveDevice>)ViewContext.Controller).DataSource;
    _viewModel = (InfoQueryViewModel)ViewBag.ViewModel;
    TaiwanTaxiAgent.DispatchQueryResponse _model = this.Model as TaiwanTaxiAgent.DispatchQueryResponse;

}

<div class="border_gray queryAction">
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th>
                住戶識別碼(resident ID)
            </th>
            <td class="tdleft" colspan="3">
                <input type="text" name="ResidentID" value="@(_viewModel.ResidentID.GetEfficientString())" />
            </td>
        </tr>
    </table>
    <!--表格 結束-->
</div>
@if (_model?.Vehicles?.Length > 0)
{
    <div>
        <div class="row">
            <div class="col-md-3">
                <img src="~/images/TaxiOrder_03.png" style="width:180px;" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2">
                        <label class="label-info">服務單位</label>
                    </div>
                    <img src="~/images/TaxiOrder_02.png" />
                </div>
                <hr />
                @for (int i = 0; i < _model.Vehicles.Length; i++)
                {
                    var vehicle = _model.Vehicles[i];
                    <div class="row">
                        <label class="label-info">派車資訊</label>
                        <label class="label-info">@(i+1)、</label>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label-info">日期/時間</label>
                        </div>
                        <div class="col-md-3 input-group">
                            @($"{vehicle.BookTime:yyyy/MM/dd HH:mm}")
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label-info">地址</label>
                        </div>
                        <div class="input-group">
                            @(vehicle.Address?.City)
                            @(vehicle.Address?.Distrcit)
                            @(vehicle.Address?.Road)
                            @(vehicle.Address?.Section)
                            @(vehicle.Address?.Lane.GetEfficientString("巷"))
                            @(vehicle.Address?.Alley.GetEfficientString("弄"))
                            @(vehicle.Address?.No)
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label-info">其它</label>
                        </div>
                        <div class="col-md-10 input-group">
                            <div class="col-md-4">
                                付款方式：
                                @(vehicle.PaymentStatus?.PayType)
                            </div>
                            <div class="col-md-4">
                                備註：@(vehicle.Memo)
                            </div>
                        </div>
                    </div>
                    <hr />
                }
                @*<div class="row text-center">
                        <button class="btn btn-primary" type="button">送出</button>
                    </div>*@
            </div>
        </div>
    </div>
}
else
{
    <div>尚無叫車資訊!!</div>
    <div class="row text-center">
            <button class="btn btn-primary" type="button" onclick="window.location.reload();">重新查詢</button>
        </div>
}



