

@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Properties
@using Utility
@using Newtonsoft.Json
@{

    ModelSource<LiveDevice> models;
    DeviceQueryViewModel _viewModel;


    models = ((SampleController<LiveDevice>)ViewContext.Controller).DataSource;
    _viewModel = (DeviceQueryViewModel)ViewBag.ViewModel;

    var values = _viewModel.ResidentID?.Split('-');
    if (values != null && values.Length > 1)
    {
        _viewModel.CustomerID = values[1];
    }
}

<!--交易畫面標題-->
@{
    Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "設定門禁卡");
}

<div class="border_gray queryAction">
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th>
                住戶識別碼(resident ID)
            </th>
            <td class="tdleft">
                <input type="text" name="ResidentID" value="@(_viewModel.ResidentID.GetEfficientString())" />
            </td>
            <th>
                客戶代碼
            </th>
            <td class="tdleft" colspan="3">
                <input type="text" name="CustomerID" value="@(_viewModel.CustomerID.GetEfficientString())" />
            </td>
        </tr>
        <tr>
            <th>
                卡片數量
            </th>
            <td class="tdleft">
                <input type="text" name="Cards" value="" />
            </td>
            <th>
                分機號碼
            </th>
            <td class="tdleft">
                <input type="text" name="BranchNo" value="" />
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button type="button" onclick="commitAccessCard();">發送</button>
            </td>
        </tr>
    </table>
    <!--表格 結束-->
</div>
<!--按鈕-->
@{
    Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "傳送門禁QR Code");
}
<div class="border_gray queryAction">
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th>
                住戶識別碼(resident ID)
            </th>
            <td class="tdleft" colspan="3">
                <input type="text" name="ResidentID" value="@(_viewModel.ResidentID.GetEfficientString())" />
            </td>
        </tr>
        <tr>
            <th>
                門牌號碼
            </th>
            <td class="tdleft">
                <select name="ElevatorNo">
                    @{
                        if (AppSettings.Default.ElevatorBoxArray != null)
                        {
                            var items = AppSettings.Default.ElevatorBoxArray.GroupBy(b => b.No);
                            foreach (var item in items)
                            {
                                <option value="@(item.Key)">@(item.Key)</option>
                            }
                        }
                    }
                </select>
            </td>
            <th>
                住戶樓層
            </th>
            <td class="tdleft">
                <select name="Floor">
                    @for (int i = 0; i < AppSettings.Default.BuildingFloors; i++)
                    {
                        <option value="@(i)">@(i+1)</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button type="button" onclick="commitAccessQRCode();">發送</button>
            </td>
        </tr>
    </table>
    <!--表格 結束-->
</div>
<!--按鈕-->

@{
    Html.RenderPartial("~/Views/DeviceEvents/ScriptHelper/Common.cshtml");
}

<script>
    var uiDeviceQuery = {};
    uiDeviceQuery.viewModel = @Html.Raw(JsonConvert.SerializeObject(_viewModel));
</script>
<script>
    function commitAccessCard() {
        var formData = $('input,select,textarea').serializeObject();
        clearErrors();
        showLoading();
        $.post('@Html.Raw(Url.Action("CommitAccessCard", "DeviceEvents"))', formData, function (data) {
            hideLoading();
            if ($.isPlainObject(data)) {
                alert(JSON.stringify(data));
            } else {
                $(data).appendTo($('body')).remove();
            }
        });
    }

    function commitAccessQRCode() {
        var formData = $('input,select,textarea').serializeObject();
        clearErrors();
        showLoading();
        $.post('@Html.Raw(Url.Action("CommitAccessQRCode", "DeviceEvents"))', formData, function (data) {
            hideLoading();
            if ($.isPlainObject(data)) {
                alert(JSON.stringify(data));
            } else {
                $(data).appendTo($('body')).remove();
            }
        });
    }
</script>


