@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.DataPort
@using WebHome.Properties
@using Utility
@using Newtonsoft.Json
@{

    ModelSource<LiveDevice> models;
    StorageBoxViewModel _viewModel;

    models = ((SampleController<LiveDevice>)ViewContext.Controller).DataSource;
    StorageBoxSettings _model = (StorageBoxSettings)this.Model;

    _viewModel = (StorageBoxViewModel)ViewBag.ViewModel;
    StorageBoxAgent.BoxPortList box = null;
}

@if (_model != null && _model.StorageBoxUrl != null && _model.Enabled == true)
{
    StorageBoxAgent agent = new StorageBoxAgent(_model);
    box = agent.GetBoxPortList();
}

@if (box != null && box.ports != null && box.ports.Length > 0)
{
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th colspan="@(box.ports.Length)" class="Head_style_a">
                郵箱管理
            </th>
        </tr>
        <tr>
            @for (int port = 0; port < box.ports.Length; port++)
            {
                <th style="text-align:center;">@(port+1)</th>
            }
        </tr>
        <tr>
            @foreach (var item in box.ports)
            {
                if (item.room == null)
                {
                    <td><a href="#" onclick="javascript:prepareToStore(@(_viewModel.BoxDeviceIndex), @(item.port));">空</a></td>
                }
                else
                {
                    <td><a href="#" onclick="javascript:removeStorageItem({ 'ResidentID': '@(item.room)', 'Port': @(item.port), 'ActionType': 0, 'BoxDeviceIndex': @(_viewModel.BoxDeviceIndex) });">@(item.room)</a></td>
                }
            }
        </tr>
    </table>
}
else
{
    <div>郵箱設備未設定!!</div>
}




